

/*===================================================================================*/
/*	CUSTOM CSS STYLES
/*===================================================================================*/

/* Insert your own styles in here! */

/*======================================================================*/
/*    NAVBAR STYLES    */
/*=======================================================================*/


.navbar-brand img {
	height: 60px;
}

/*========================================================================*/
/*  BLOG POST STYLES                          
/*=======================================================================*/

.post-content .blog-post-image {
	margin: 0;
	margin-top: 0;
	margin-bottom: 1em;
}

.post-content .blog-post-image img {
	max-width: 100%;
}

.format-quote:before {
	background: url(../images/art/quote-bg.png);
	background-size: cover;
}

/*========================================================================*/
/*    TABLET MEDIA   */
/*=========================================================================*/

@media (max-width: 969px) { 
	.navbar-brand img {
		max-height: 40px;
	}
}