{% extends "layout/base.html" %}
{% load static from staticfiles %}

{% block title %}Contact Us{% endblock title %}

{% block cssextra %}
{% endblock cssextra %}

{% block content %}
	<!-- ============================================================= MAIN ============================================================= -->
		
	<main>
		
		<!-- ============================================================= SECTION – HERO ============================================================= -->
		
		<section id="hero" class="light-bg img-bg img-bg-softer" style="background-image: url({% static 'images/art/image-background04.jpg' %});">
			<div class="container inner">
				<div class="row">
					<div class="col-md-8">
						<header>
							<h1>Get in touch</h1>
							<p>Do you want to know more? We’d love to hear from you!</p>
						</header>
					</div><!-- /.col -->
				</div><!-- ./row -->
			</div><!-- /.container -->
		</section>
		
		<!-- ============================================================= SECTION – HERO : END ============================================================= -->
		
		<div class="container inner">
			<div class="row">
				
				<div class="col-md-8 inner-right-md">
					
					<!-- ============================================================= SECTION – CONTACT FORM ============================================================= -->
					{% if messages %}
					<div class="row">
						<div class="col-sm-12">
							{% for message in messages %}
								<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									{{ message }}
								</div>
							{% endfor %}
						</div>
					</div>
					{% endif %}
					<section id="contact-form2">
						<h2>Leave a Message</h2>
						<form action="" method="POST" class="forms">
							{{ form }}
							{% csrf_token %}
							<button type="submit" class="btn btn-default btn-submit">Send</button>
						</form>
					</section>
					
					<!-- <section id="contact-form">
						
						<h2>Leave a Message</h2>
						
						<form id="contactform" class="forms" action="contact.php" method="post">
							
							<div class="row">
								<div class="col-sm-6">
									<input type="text" name="name" class="form-control" placeholder="Name (Required)">
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-6">
									<input type="email" name="email" class="form-control" placeholder="Email (Required)">
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-6">
									<input type="text" name="subject" class="form-control" placeholder="Subject">
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-12">
									<textarea name="message" class="form-control" placeholder="Enter your message ..."></textarea>
								</div>
							</div>
							
							<button type="submit" class="btn btn-default btn-submit">Submit message</button>
							
						</form>
						
						<div id="response"></div>
						
					</section> -->
					
					<!-- ============================================================= SECTION – CONTACT FORM : END ============================================================= -->
					
					
					<!-- ============================================================= SECTION – CONTACTS ============================================================= -->
					
					<section id="contacts" class="inner-top-md inner-bottom-sm">
						
						<h2>Contacts</h2>
						<p>Magnis modipsae voloratati andigen daepeditem quiate re aut labor. <br>Laceaque eictemperum quiae sitiorem rest non restibusaes.</p>
						
						<div class="row">
							<div class="col-sm-6">
								<h3>REEN</h3>
								<ul class="contacts">
									<li><i class="icon-location contact"></i> 84 Street, City, State 24813</li>
									<li><i class="icon-mobile contact"></i> +00 (123) 456 78 90</li>
									<li><a href="#"><i class="icon-mail-1 contact"></i> info@reen.com</a></li>
								</ul><!-- /.contacts -->
							</div><!-- /.col -->
						</div><!-- /.row -->
						
					</section>
					
					<!-- ============================================================= SECTION – CONTACTS : END ============================================================= -->
					
				</div><!-- ./col -->
				
				<div class="col-md-4">
					
					<!-- ============================================================= SECTION – CONTACT NAMES ============================================================= -->
					
					<section id="contact-names" class="light-bg inner-xs inner-left-xs inner-right-xs">
							
						<h3 class="team-headline sidelines text-center"><span>Contact names</span></h3>
						
						<div class="row thumbs gap-md text-center">
							{% for author in authors %}
							<div class="col-sm-6 thumb">
								<figure class="member">
									
									<div class="member-image">
										
										<div class="text-overlay">
											<div class="info">
												<ul class="social">
													<li><a href="{{ author.facebook_url }}" target="_blank"><i class="icon-s-facebook"></i></a></li>
													<li><a href="{{ author.linkedin_url }}" target="_blank"><i class="icon-s-linkedin"></i></a></li> 
													<li><a href="{{ author.twitter_url }}" target="_blank"><i class="icon-s-twitter"></i></a></li>
												</ul><!-- /.social -->
											</div><!-- /.info -->
										</div><!-- /.text-overlay -->
										
										<img src="{{ MEDIA_URL }}{{ author.image }}">
										
									</div><!-- /.member-image -->
									
									<figcaption class="member-details bordered no-top-border">
										<h3>
											{{ author.display_name }} 
											<span>{{ author.title }}</span>
										</h3>
									</figcaption>
									
								</figure>
							</div><!-- /.col -->
							{% if forloop.counter|divisibleby:2 %}
							</div>
							<div class="row thumbs gap-md text-center">
							{% endif %}
							{% endfor %}
						</div><!-- /.row -->
						
					</section>
					
					<!-- ============================================================= SECTION – CONTACT NAMES : END ============================================================= -->
					
				</div><!-- /.col -->
					
			</div><!-- /.row -->
		</div><!-- /.container -->
		
	</main>
	
	<!-- ============================================================= MAIN : END ============================================================= -->
{% endblock content %}

{% block jsextra %}
{% endblock jsextra %}