{% extends "layout/base.html" %}
{% load static from staticfiles %}

{% block title %}Services{% endblock title %}

{% block cssextra %}
{% endblock cssextra %}

{% block content %}
	<!-- ============================================================= MAIN ============================================================= -->
		
	<main>
		
		<!-- ============================================================= SECTION – HERO ============================================================= -->
	
		<section id="hero" class="light-bg img-bg-bottom img-bg-softer" style="background-image: url({% static 'images/art/slider03.jpg' %});">
			<div class="container inner">
				
				<div class="row">
					<div class="col-md-8 col-sm-9">
						<header>
							<h1>Services</h1>
							<p>Magnis modipsae que voloratati andigen daepeditem quiate aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam.</p>
						</header>
					</div><!-- /.col -->
				</div><!-- ./row -->
				
			</div><!-- /.container -->
		</section>
		
		<!-- ============================================================= SECTION – HERO : END ============================================================= -->
		
		<!-- ============================================================= SECTION – SERVICES ============================================================= -->
		
		<section id="services" class="dark-bg">
			<div class="container inner">
				<div class="row">
					<div class="col-xs-12">
						<div class="tabs tabs-services tabs-circle-top tab-container">
							
							<ul class="etabs text-center">
								<li class="tab"><a href="#tab-1"><div><i class="icon-lamp"></i></div>Strategy</a></li>
								<li class="tab"><a href="#tab-2"><div><i class="icon-flow-tree"></i></div>UX</a></li>
								<li class="tab"><a href="#tab-3"><div><i class="icon-beaker"></i></div>Design</a></li>
								<li class="tab"><a href="#tab-4"><div><i class="icon-code"></i></div>Technology</a></li>
								<li class="tab"><a href="#tab-5"><div><i class="icon-thumbs-up-1"></i></div>Social</a></li>
								<li class="tab"><a href="#tab-6"><div><i class="icon-megaphone-1"></i></div>Marketing</a></li>
							</ul><!-- /.etabs -->
							
							<div class="panel-container">
								
								<div class="tab-content" id="tab-1">
									<div class="row">
										
										<div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
											<figure><img src="{% static 'images/art/product05.jpg' %}" alt=""></figure>
										</div><!-- /.col -->
										
										<div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
											<h3>Strategy</h3>
											<p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
										</div><!-- /.col -->
										
									</div><!-- /.row -->
								</div><!-- /.tab-content -->
								
								<div class="tab-content" id="tab-2">
									<div class="row">
										
										<div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
											<figure><img src="{% static 'images/art/product01.jpg' %}" alt=""></figure>
										</div><!-- /.col -->
										
										<div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
											<h3>User Experience</h3>
											<p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
										</div><!-- /.col -->
										
									</div><!-- /.row -->
								</div><!-- /.tab-content -->
								
								<div class="tab-content" id="tab-3">
									<div class="row">
										
										<div class="col-md-4 col-md-push-3 col-md-offset-1 col-sm-6 inner-left-xs inner-right-xs">
											<figure><img src="{% static 'images/art/product06.jpg' %}" alt=""></figure>
										</div><!-- /.col -->
										
										<div class="col-md-3 col-md-pull-4 col-sm-6 inner-top-xs">
											<h3>Design</h3>
											<p>Magnis modipsae lib voloratati andigen daepedor quiate aut labor. Laceaque quiae sitiorem resti est lore tumquam core posae volor uso remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent it accullignis orum lomnus.</p>
										</div><!-- /.col -->
										
										<div class="col-md-3 col-sm-6 inner-top-xs">
											<h3>User interface</h3>
											<p>Magnis modipsae lib voloratati andigen daepedor quiate aut labor. Laceaque quiae sitiorem resti est lore tumquam core posae volor uso remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent it accullignis orum lomnus.</p>
										</div><!-- /.col -->
										
									</div><!-- /.row -->
								</div><!-- /.tab-content -->
								
								<div class="tab-content" id="tab-4">
									<div class="row">
										<div class="col-md-8 col-sm-9 center-block text-center">
											<h3>Technology</h3>
											<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis.</p>
										</div><!-- /.col -->
									</div><!-- /.row -->
								</div><!-- /.tab-content -->
								
								<div class="tab-content" id="tab-5">
									
									<div class="row">
										<div class="col-md-5 col-sm-6 col-xs-8 center-block text-center">
											<figure><img src="{% static 'images/art/product03.jpg' %}" alt=""></figure>
										</div><!-- /.col -->
									</div><!-- /.row -->
									
									<div class="row">
										<div class="col-sm-8 center-block text-center inner-top-xs">
											<h3>Social</h3>
											<p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
										</div><!-- /.col -->
									</div><!-- /.row -->
									
								</div><!-- /.tab-content -->
								
								<div class="tab-content" id="tab-6">
									
									<div class="row">
										<div class="col-sm-8 center-block text-center">
											<h3>Marketing</h3>
											<p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
										</div><!-- /.col -->
									</div><!-- /.row -->
									
									<div class="row">
										<div class="col-md-5 col-sm-6 col-xs-8 inner-top-xs center-block text-center">
											<figure><img src="{% static 'images/art/humans01.jpg' %}" alt=""></figure>
										</div><!-- /.col -->
									</div><!-- /.row -->
									
								</div><!-- /.tab-content -->
								 
							</div><!-- /.panel-container -->
							 
						</div><!-- /.tabs -->
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section>
		
		<!-- ============================================================= SECTION – SERVICES : END ============================================================= -->
		
		
		<!-- ============================================================= SECTION – CLIENTS ============================================================= -->
	
		<section id="clients">
			<div class="container inner">
				
				<div class="row">
					<div class="col-md-8 col-sm-9 center-block text-center">
						<header>
							<h1>Technology</h1>
							<p>Here are some logos of stuff that we do things with.</p>
						</header>
					</div><!-- /.col -->
				</div><!-- /.row -->
				
				<div class="row inner-top-sm">
					<div class="col-sm-12">
						<div id="owl-clients" class="owl-carousel owl-outer-nav">
							
							<div class="item">
									<figure>
										<figcaption class="text-overlay">
											<div class="info">
												<h4>Django Framework</h4>
											</div><!-- /.info -->
										</figcaption>
										<img src="{% static 'images/logos/django-logo-positive.png' %}" alt="Django Framework">
									</figure>
							</div><!-- /.item -->
							
							<div class="item">
									<figure>
										<figcaption class="text-overlay">
											<div class="info">
												<h4>Ionic Framework</h4>
											</div><!-- /.info -->
										</figcaption>
										<img src="{% static 'images/logos/ionic_logo.png' %}" alt="Ionic Framework">
									</figure>
							</div><!-- /.item -->
							
							<div class="item">
									<figure>
										<figcaption class="text-overlay">
											<div class="info">
												<h4>Flask</h4>
											</div><!-- /.info -->
										</figcaption>
										<img src="{% static 'images/logos/flask-logo.png' %}" alt="Flask">
									</figure>
							</div><!-- /.item -->
							
							<div class="item">
									<figure>
										<figcaption class="text-overlay">
											<div class="info">
												<h4>AngularJS</h4>
											</div><!-- /.info -->
										</figcaption>
										<img src="{% static 'images/logos/angular-logo.png' %}" alt="AngularJS">
									</figure>
							</div><!-- /.item -->
							
							<div class="item">
									<figure>
										<figcaption class="text-overlay">
											<div class="info">
												<h4>MySQL</h4>
											</div><!-- /.info -->
										</figcaption>
										<img src="{% static 'images/logos/mysql-logo.jpg' %}" alt="MySQL">
									</figure>
							</div><!-- /.item -->
							
							<div class="item">
									<figure>
										<figcaption class="text-overlay">
											<div class="info">
												<h4>Sass</h4>
											</div><!-- /.info -->
										</figcaption>
										<img src="{% static 'images/logos/sass-logo.png' %}" alt="Sass">
									</figure>
							</div><!-- /.item -->
							
							<div class="item">
									<figure>
										<figcaption class="text-overlay">
											<div class="info">
												<h4>Git Version Control</h4>
											</div><!-- /.info -->
										</figcaption>
										<img src="{% static 'images/logos/git-logo.png' %}" alt="Git">
									</figure>
							</div><!-- /.item -->
							
							<div class="item">
									<figure>
										<figcaption class="text-overlay">
											<div class="info">
												<h4>WordPress CMS</h4>
											</div><!-- /.info -->
										</figcaption>
										<img src="{% static 'images/logos/wordpress-logo.png' %}" alt="WordPress CMS">
									</figure>
							</div><!-- /.item -->
							
							<div class="item">
									<figure>
										<figcaption class="text-overlay">
											<div class="info">
												<h4>Laravel Framework</h4>
											</div><!-- /.info -->
										</figcaption>
										<img src="{% static 'images/logos/laravel-logo.png' %}" alt="Laravel Framework">
									</figure>
							</div><!-- /.item -->
							
							<div class="item">
									<figure>
										<figcaption class="text-overlay">
											<div class="info">
												<h4>Twitter Bootstrap</h4>
											</div><!-- /.info -->
										</figcaption>
										<img src="{% static 'images/logos/bootstrap-logo.png' %}" alt="Twitter Bootstrap">
									</figure>
							</div><!-- /.item -->
							
						</div><!-- /.owl-carousel -->
					</div><!-- /.col -->
				</div><!-- /.row -->
				
			</div><!-- /.container -->
		</section>
		
		<!-- ============================================================= SECTION – CLIENTS : END ============================================================= -->
		
		
		<!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->
		
		<section id="get-in-touch" class="light-bg">
			<div class="container inner-sm">
				<div class="row">
					<div class="col-sm-10 center-block text-center">
						<h1 class="single-block">Want to work with us? <a href="{% url 'contact' %}" class="btn btn-large">Get in touch</a></h1>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section>
		
		<!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->
		
	</main>
	
	<!-- ============================================================= MAIN : END ============================================================= -->
{% endblock content %}

{% block jsextra %}
{% endblock jsextra %}