{% extends "layout/base.html" %}
{% load static from staticfiles %}
{% load posts_extras %}

{% block title %}Blog{% endblock title %}

{% block cssextra %}
{% endblock cssextra %}

{% block content %}
	<!-- ============================================================= SECTION – POPULAR POSTS ============================================================= -->
	<section id="popular-posts" class="light-bg">
		<div class="container inner-top-md">
			<div class="row">
				<div class="col-sm-12">
					<div id="accordion" class="panel-group">
						<div class="panel panel-default">			  
							
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="panel-toggle" data-toggle="collapse" data-parent="#accordion" href="#content">
										<span>Popular posts</span>
									</a>
								</h4>
							</div><!-- /.panel-heading -->
							
							<div id="content" class="panel-collapse collapse in">
								<div class="panel-body">
									<div id="owl-popular-posts" class="owl-carousel owl-item-gap-sm">
										
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Vintage Bicycles</h4>
															<p>Interactive</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="{% static 'images/art/work03.jpg' %}" alt="">
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Simpli Nota</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="{% static 'images/art/work04.jpg' %}" alt="">
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Vinyl Records</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="{% static 'images/art/work07.jpg' %}" alt="">
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Astor &amp; Yancy</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="{% static 'images/art/work09.jpg' %}" alt="">
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Signwall</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="{% static 'images/art/work16.jpg' %}" alt="">
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Tri Fold Brochure</h4>
															<p>Print</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="{% static 'images/art/work10.jpg' %}" alt="">
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Embroidered</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="{% static 'images/art/work05a.jpg' %}" alt="">
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>El Corcho</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="{% static 'images/art/work12.jpg' %}" alt="">
												</figure>
											</a>
										</div><!-- /.item -->
										
									</div><!-- /.owl-carousel -->
								</div><!-- /.panel-body -->
							</div><!-- /.content -->
							
						</div><!-- /.panel -->
					</div><!-- /.accordion -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
	
	<!-- ============================================================= SECTION – POPULAR POSTS : END ============================================================= -->
	
	
	<!-- ============================================================= SECTION – BLOG ============================================================= -->
	
	<section id="blog" class="light-bg">
		<div class="container inner-top-sm inner-bottom classic-blog">
			
			<div class="row inner-bottom-xs">
				<div class="col-sm-12">	
					<ul class="format-filter text-center">
						<li><a class="active" href="#" data-filter="*" title="All" data-rel="tooltip" data-placement="top"><i class="icon-th"></i></a></li>
						<!-- <li><a href="#" data-filter=".format-standard" title="Standard" data-rel="tooltip" data-placement="top"><i class="icon-edit"></i></a></li>
						<li><a href="#" data-filter=".format-image" title="Image" data-rel="tooltip" data-placement="top"><i class="icon-picture-1"></i></a></li>
						<li><a href="#" data-filter=".format-gallery" title="Gallery" data-rel="tooltip" data-placement="top"><i class="icon-picture"></i></a></li>
						<li><a href="#" data-filter=".format-video" title="Video" data-rel="tooltip" data-placement="top"><i class="icon-video-1"></i></a></li>
						<li><a href="#" data-filter=".format-audio" title="Audio" data-rel="tooltip" data-placement="top"><i class="icon-music-1"></i></a></li>
						<li><a href="#" data-filter=".format-quote" title="Quote" data-rel="tooltip" data-placement="top"><i class="icon-quote"></i></a></li>
						<li><a href="#" data-filter=".format-link" title="Link" data-rel="tooltip" data-placement="top"><i class="icon-popup"></i></a></li> -->
						{% for abbr, type in types %}
							<li>
								<a href="#" data-filter=".format-{{ type|lower }}" title="{{ type }}" data-rel="tooltip" data-placement="top">
									{% if abbr == 'STD' %}
										<i class="icon-edit"></i>
									{% endif %}
									{% if abbr == 'IMG' %}
										<i class="icon-picture-1"></i>
									{% endif %}
									{% if abbr == 'GAL' %}
										<i class="icon-picture"></i>
									{% endif %}
									{% if abbr == 'MED' %}
										<i class="icon-video-1"></i>
									{% endif %}
									{% if abbr == 'QUO' %}
										<i class="icon-quote"></i>
									{% endif %}
									{% if abbr == 'LNK' %}
										<i class="icon-popup"></i>
									{% endif %}
								</a>
							</li>
						{% endfor %}
					</ul><!-- /.format-filter -->
				</div><!-- /.col -->
			</div><!-- /.row -->
			
			<div class="row">
				
				<div class="col-md-9 inner-right-sm">
					
					<div class="posts sidemeta">
						
						{% for post in posts %}
							{% if post.post_type == 'LNK' %}
								<div class="post format-link">
									
									<div class="date-wrapper">
										<div class="date">
											<span class="day">{{ post.published_at|date:"d" }}</span>
											<span class="month">{{ post.published_at|date:"M" }}</span>
										</div><!-- /.date -->
									</div><!-- /.date-wrapper -->
									
									<div class="format-wrapper">
										<a href="#" data-filter=".format-link"><i class="icon-popup"></i></a>
									</div><!-- /.format-wrapper -->
									
									<div class="post-content">
										<h2 class="post-title">
											<a href="{{ post.link_url }}" target="_blank">{{ post.link_text }}</a>
										</h2>
										<a href="{{ post.link_url }}" target="_blank">{{ post.link_url }}</a>
									</div><!-- /.post-content --> 
									
								</div><!-- /.post --> 
							{% endif %}
							{% if post.post_type == 'QUO' %}

									<div class="post format-quote {% with rnd='123'|make_list|random %}{% if rnd == '1' %}navy-bg{% elif rnd == '2' %}green-bg{% endif %}{% endwith %}">
									<div class="date-wrapper">
										<div class="date">
											<span class="day">{{ post.published_at|date:"d" }}</span>
											<span class="month">{{ post.published_at|date:"M" }}</span>
										</div><!-- /.date -->
									</div><!-- /.date-wrapper -->
									
									<div class="format-wrapper">
										<a href="#" data-filter=".format-quote"><i class="icon-quote"></i></a>
									</div><!-- /.format-wrapper -->
									
									<div class="post-content">
										<blockquote>
											<p>{{ post.quote_text }}</p>
											<footer><cite>{{ post.quote_name }}</cite></footer>
										</blockquote>
									</div><!-- /.post-content --> 
									
								</div><!-- /.post -->

							{% endif %}
							{% if post.post_type == 'STD' %}
								<div class="post format-standard">
								
								<div class="date-wrapper">
									<div class="date">
										<span class="day">{{ post.published_at|date:"d" }}</span>
										<span class="month">{{ post.published_at|date:"M" }}</span>
									</div><!-- /.date -->
								</div><!-- /.date-wrapper -->
								
								<div class="format-wrapper">
									<a href="#" data-filter=".format-standard"><i class="icon-edit"></i></a>
								</div><!-- /.format-wrapper -->
								
								<div class="post-content">
									
									<h2 class="post-title">
										<a href="{% url 'posts:detail' pk=post.pk %}">{{ post.title }}</a>
									</h2>
									
									<ul class="meta">
										<li class="categories">{{ post.categories.all|join:", " }}</li>
										<li class="comments"><a href="#">14</a></li>
										<li class="likes"><a href="#">30</a></li>
									</ul><!-- /.meta -->
									
									<p>{{ post.tagline }}</p>
									
									<a href="{% url 'posts:detail' pk=post.pk %}" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div><!-- /.post -->
							{% endif %}
							{% if post.post_type == 'IMG' %}
								<div class="post format-image">
									
									<div class="date-wrapper">
										<div class="date">
											<span class="day">{{ post.published_at|date:"d" }}</span>
											<span class="month">{{ post.published_at|date:"M" }}</span>
										</div><!-- /.date -->
									</div><!-- /.date-wrapper -->
									
									<div class="format-wrapper">
										<a href="#" data-filter=".format-image"><i class="icon-picture-1"></i></a>
									</div><!-- /.format-wrapper -->
									
									<div class="post-content">
										
										<figure class="icon-overlay icn-link post-media">
											<a href="{% url 'posts:detail' pk=post.pk %}">
												<img src="{{ MEDIA_URL }}{{ post.images.first.image }}" alt="{{ post.images.first.name }}">
											</a>
										</figure><!-- /.post-media -->
										
										<h2 class="post-title">
											<a href="{% url 'posts:detail' pk=post.pk %}">{{ post.title }}</a>
										</h2>
										
										<ul class="meta">
											<li class="categories">{{ post.categories.all|join:", " }}</li>
											<li class="comments"><a href="#">63</a></li>
											<li class="likes"><a href="#">114</a></li>
										</ul><!-- /.meta -->
										
										<p>{{ post.tagline }}</p>
										
										<a href="{% url 'posts:detail' pk=post.pk %}" class="btn">Read more</a>
										
									</div><!-- /.post-content --> 
									
								</div><!-- /.post -->
							{% endif %}
							{% if post.post_type == 'GAL' %}
								<div class="post format-gallery">
									
									<div class="date-wrapper">
										<div class="date">
											<span class="day">{{ post.published_at|date:"d" }}</span>
											<span class="month">{{ post.published_at|date:"M" }}</span>
										</div><!-- /.date -->
									</div><!-- /.date-wrapper -->
									
									<div class="format-wrapper">
										<a href="#" data-filter=".format-gallery"><i class="icon-picture"></i></a>
									</div><!-- /.format-wrapper -->
									
									<div class="post-content">
										
										<div id="owl-work" class="owl-carousel owl-inner-pagination owl-inner-nav post-media">
											{% for image in post.images.all %}
											<div class="item">
												<figure>
													<img src="{{ MEDIA_URL }}{{ image.image }}" alt="{{ image.name }}">
												</figure>
											</div><!-- /.item -->
											{% endfor %}
										</div><!-- /.owl-carousel -->
										
										<h2 class="post-title">
											<a href="{% url 'posts:detail' pk=post.pk %}">{{ post.title }}</a>
										</h2>
										
										<ul class="meta">
											<li class="categories">{{ post.categories.all|join:", " }}</li>
											<li class="comments"><a href="#">24</a></li>
											<li class="likes"><a href="#">73</a></li>
										</ul><!-- /.meta -->
										
										<p>{{ post.tagline }}</p>
										
										<a href="{% url 'posts:detail' pk=post.pk %}" class="btn">Read more</a>
										
									</div><!-- /.post-content --> 
									
								</div><!-- /.post -->
							{% endif %}
						{% endfor %}
						
					</div><!-- /.posts -->
					
					<ul class="pagination">
						<li><a href="#">Prev</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">Next</a></li>
					</ul><!-- /.pagination --> 
					
				</div><!-- /.col -->
				
				<aside class="col-md-3">
					
					<div class="sidebox widget">
						<h4>Random Posts</h4>
						
						<div class="row thumbs gap-xs">
							
							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="blog-post.html"><img src="{% static 'images/art/work17.jpg' %}" alt=""></a>
								</figure>
							</div><!-- /.thumb -->
							
							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="blog-post.html"><img src="{% static 'images/art/photograph02.jpg' %}" alt=""></a>
								</figure>
							</div><!-- /.thumb -->
							
							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="blog-post.html"><img src="{% static 'images/art/work18.jpg' %}" alt=""></a>
								</figure>
							</div><!-- /.thumb -->
							
							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="blog-post.html"><img src="{% static 'images/art/work21.jpg' %}" alt=""></a>
								</figure>
							</div><!-- /.thumb -->
							
							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="blog-post.html"><img src="{% static 'images/art/work23.jpg' %}" alt=""></a>
								</figure>
							</div><!-- /.thumb -->
							
							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="blog-post.html"><img src="{% static 'images/art/work22.jpg' %}" alt=""></a>
								</figure>
							</div><!-- /.thumb -->
							
						</div><!-- /.row -->
					</div><!-- /.widget -->
					
					<div class="sidebox widget">
						<h4>Search Posts</h4>
						
						<form id="search" class="navbar-form search" role="search">
							<input type="search" class="form-control" placeholder="Type to search">
							<button type="submit" class="btn btn-default btn-submit icon-right-open"></button>
						</form>
					</div><!-- /.widget -->
					
					<div class="sidebox widget">
						<h4>Categories</h4>
						
						<ul class="circled">
							{% for tag in tags %}
								<li><a href="{% url 'posts:category' tag=tag.slug %}">{{ tag.name }}</a></li>
							{% endfor %}
							<!-- <li><a href="#">Identity (114)</a></li>
							<li><a href="#">Interactive (93)</a></li>
							<li><a href="#">Graphic Design (82)</a></li>
							<li><a href="#">Motion Graphics (77)</a></li>
							<li><a href="#">Photography (63)</a></li>
							<li><a href="#">Technology (55)</a></li>
							<li><a href="#">Business (42)</a></li>
							<li><a href="#">Print (36)</a></li>
							<li><a href="#">Audio (23)</a></li> -->
						</ul><!-- /.circled -->
					</div><!-- /.widget -->
					
					<div class="sidebox widget">
						<h4>Archives</h4>
						
						<ul class="circled">
							<li><a href="#">March 2015</a></li>
							<li><a href="#">February 2015</a></li>
							<li><a href="#">January 2015</a></li>
							<li><a href="#">December 2013</a></li>
							<li><a href="#">November 2013</a></li>
							<li><a href="#">October 2013</a></li>
						</ul><!-- /.circled -->
						
						<a href="#" class="txt-btn">All archives</a>
					</div><!-- /.widget -->
					
					<div class="sidebox widget">
						<h4>Featured</h4>
						
						<figure>
							
							<div class="icon-overlay icn-link">
								<a href="blog-post.html"><img src="{% static 'images/art/work01.jpg' %}" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="blog-post.html">Appscreen Dashboard</a></h4>
									<p>Interactive</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.widget -->
					
					<div class="sidebox widget">
						<h4>Custom Text</h4>
						<p>Magnis modipsae que lib voloratati andigen daepeditem reporemni labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor.</p>
						<p>Conecus iure posae volor remped modiatis aut accabora incim explabo eictemperum quiae sitiorem.</p>
						<a href="#" class="txt-btn">Check out more</a>
					</div><!-- /.widget -->
					
					<div class="sidebox widget">
						<h4>Tags</h4>
						
						<div class="tagcloud">
							<a href="#" style="font-size: 12pt;">Beautiful</a> <a href="#" style="font-size: 20pt;">REEN</a> <a href="#" style="font-size: 10pt;">Quality</a> <a href="#" style="font-size: 14pt;">Website</a> <a href="#" style="font-size: 16pt;">Template</a> <a href="#" style="font-size: 12pt;">Professional</a> <a href="#" style="font-size: 20pt;">Design</a> <a href="#" style="font-size: 10pt;">Multipurpose</a> <a href="#" style="font-size: 16pt;">Portfolio</a> <a href="#" style="font-size: 10pt;">Customization</a> <a href="#" style="font-size: 19pt;">Bootstrap</a> <a href="#" style="font-size: 9pt;">Mobile</a> <a href="#" style="font-size: 14pt;">Features</a> <a href="#" style="font-size: 9pt;">Styles</a> <a href="#" style="font-size: 13pt;">Responsive</a> <a href="#" style="font-size: 9pt;">Font Icons</a> <a href="#" style="font-size: 22pt;">Love</a> <a href="#" style="font-size: 10pt;">Digital</a> <a href="#" style="font-size: 18pt;">Awesome</a> <a href="#" style="font-size: 12pt;">Passion</a> <a href="#" style="font-size: 13pt;">Typography</a> <a href="#" style="font-size: 13pt;">Clean</a> <a href="#" style="font-size: 9pt;">Easy to use</a> <a href="#" style="font-size: 20pt;">Buy it</a> <a href="#" style="font-size: 12pt;">Success</a>
						</div><!-- /.tag-cloud -->
					</div><!-- /.widget -->
					
				</aside>
				
			</div><!-- /.row -->
			
		</div><!-- /.container -->
	</section>
	
	<!-- ============================================================= SECTION – BLOG : END ============================================================= -->
{% endblock content %}

{% block jsextra %}
{% endblock jsextra %}

